html,body  {
    height: 100%;
}

.chat{
    background-color: white;
}

.chat-message{
    height:200px;
    overflow-y: scroll;
}

.notify::after {
    content: " ㋡";
    font-weight: bolder;
    color: #89C1D0;
}

.connexion{
    background: #89C1D0;
    border-radius: 20px;
}

.is-color-laplateform{
    background: #89C1D0 !important;
}

.is-color-laplateform a:hover{
    background: #89C1D0 !important;
    text-decoration: underline;
}

.is-scrollable{
    max-height: 80vh;
    overflow: auto;
}

.no-radius{
    border-radius: 0 !important;
}
