<article class="panel is-primary">
  <p class="panel-heading">
    User list
  </p>

  
  <div class="chat-user-list">
    
    
  </div>
</article>
<article class="panel is-warning">
  <p class="panel-heading">
    Chat pannel
  </p>
  <p class="panel-tabs">
    <a class="is-active">Main</a>
    <a>Public</a>
    <a>Private</a>
  </p>
  <div class="chat-message" style="height:200px;">
    
    
  </div>
  <form id="chat-form">
    <input type="text" id="chat-input">
    <input type="submit" value="ok">
  </form>
</article>