<nav class="navbar is-fixed-top is-color-laplateform p-3" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://laplateforme.io/">
                <img src="{{pathPublic}}/image/laplateforme-long2.png">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item new-post">
                    New post
                </a>
                <a class="navbar-item" href="{{pathMain}}/wall">
                    Wall
                </a>
            <div class="navbar-end">
                <a class="navbar-item" href="{{pathMain}}/profil">
                    Profil
                </a>
                <a class="navbar-item" onclick="signOut()">
                    Log out
                </a>
                <a class="navbar-item g-signin2" data-onsuccess="onSignIn"></a>
                
            </div>
        </div>
    </nav>