
<article class="panel is-warning">
  <p class="panel-heading">
    Chat pannel
  </p>
  <p class="panel-tabs panel-chat is-size-7">
    <a id="tab-main" class="is-active">Main</a>
  </p>
  <div class="chat-place-holder p-1 is-size-7">
    <div id="chat-main" class="chat-message" >
      
      
    </div>
  </div>
  <form id="chat-form">
    <div class="field has-addons">
      <div class="control" style="width: 100%;">
        <input class="input no-radius" type="text" id="chat-input" placeholder="Tap your message here">
      </div>
      <div class="control">
        <input class="button is-info no-radius" type="submit" value="ok">
      </div>
    </div>
  </form>
</article>

<article class="panel is-primary">
  <p class="panel-heading is-color-laplateform ">
    User connected
  </p>

  
  <div class="chat-user-list  is-scrollable">
    
    
  </div>
</article>