<div class="container">
    <form class="form-modal" action="/post" method="POST">
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
            <input class="input input-name" type="text" name="name" placeholder="Text input">
            </div>
        </div>
        <div class="field">
            <label class="label">Picture</label>
            <div class="control">
            <input class="input input-picture" type="text" name="picture" placeholder="Picture file name">
            </div>
        </div>
        <div class="field">
            <label class="label">Content</label>

        <textarea class="textarea" name="content" placeholder="e.g. Hello world"></textarea>
        </div>

        <input type="submit" class="button is-primary" value='Submit'>
    </form>
</div>