
{% extends 'base.twig'%}

{%  block head %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="779360460594-5hbuevfqve7uur0a2ds2284se901qf2l.apps.googleusercontent.com">
<script src="{{path}}/js/connexion.js" saync defer></script>
{% endblock %}

{% block content %}
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<p>Hello</p>
{% endblock %}
