
{% extends 'base.twig'%}

{%  block head %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="430999213891-61f6lk1jukkrrlrag1ju7l3fvqjc0ah9.apps.googleusercontent.com">
<script src="{{path}}/js/connexion.js" saync defer></script>
{% endblock %}

{% block content %}
<div class="g-signin2" data-onsuccess="onSignIn"></div>
{% endblock %}
