
{% extends 'base.twig'%}

{%  block head %}
{{parent()}}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="{{CLIENT_ID}}">
<script src="{{pathPublic}}/js/connexion.js" async defer></script>
{% endblock %}

{% block content %}
<input type="hidden" id="pathMain" value="{{pathMain}}">
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<p>Hello</p>
{% endblock %}
