<!-- To activate the modal, just add the is-active modifier on the .modal container. 
    You may also want to add is-clipped modifier to a containing element (usually html)
     to stop scroll overflow. -->
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p id="modal-title" class="modal-card-title">
        <!-- Title ... -->
      </p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section id="modal-content" class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer id="modal-footer" class="modal-card-foot">
      <!-- Serveur message ... -->
    </footer>
  </div>
</div>