{% extends 'template.twig'%}

{% block title %}
    {{ parent() }}
    Wall
{% endblock %}

{% block content %}
<div class="post">
</div>
<button id="loadContent" class="button is-primary is-light">Load more</button>
{% endblock %}

