{% extends 'main_template.twig'%}


{% block content %}
{{pathMain}}
<p>Hello wall</p>
<div class="post"></div>
{% endblock %}

{% block script %}
    <script src="{{pathPublic}}/js/wall.js" async defer></script>
{% endblock %}