{% extends 'main_template.twig'%}


{% block content %}
{{pathMain}}
<div class="post">
</div>
<button id="loadContent" class="button is-primary is-light">Load more</button>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="{{pathPublic}}/js/wall.js" async defer></script>
{% endblock %}